body{
    width: 60%;
    margin: 20px auto;
    border: 1px solid #ccc;
}
.display_element {
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-top: 10px;
    min-width: 180px;
    margin-bottom: 10px;
    min-height: 180px;
    max-width: 180px;
}

.display_image>img {
    max-height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 160px;
}

.display_image {
    border-bottom: 1px solid #ccc;
    padding: 10px 10px;
    min-height: 120px;
}

.display_details > span {
    display: block;
    font-size: 13px;
    font-family: cursive;
}

.display_details>span:first-child {
    text-align: center;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.display_details {
    padding: 10px 10px;
}